body{
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar{
  width: 2px;
  background: #f1f1f1;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #888; /* Color del thumb */
  border-radius: 4px; /* Bordes redondeados */
}